.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.custom-btn {
    align-self: flex-start;
    margin: 0;
}

.modal-body p {
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
}