.card {

    margin-top: 30px;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 7px;
    width: auto;
}

.pad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .card {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .card {
        margin-top: 0;
    }

    .pad {
        display: block;
    }
}